@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------------- v  Bloc bandau v ----------------------------------------------*/
body {
    font-family: 'roboto';
    height: 100vh;
    font-size: 16px;
}

.photo-identite {
    margin-left: 65px;
    border-radius: 50%;
    padding: 20px;
    width: 10%;
}
.identite {
    display: flex;
    color: white;
    background-color: #191a24;
}
.reference a{
    text-decoration: none;
    color: white;

}
.reference {
    margin-left: 30px;
    font-family: 'roboto', sans-serif;
    padding: 30px;
    text-align: left; 
}
.espace-top{
    margin-top: 16px;
    line-height: 1.5em;
}
/*_____________________________________________________ v NAV v ________________________________________________________*/
nav {
    right: 0;
    left: 0;
    position: absolute;
    height: 92px;
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul a{
    width: 274px;
    height: 92px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: floralwhite;
    font-family: 'roboto';
    font-size: xx-large;
    text-decoration: none;
}
nav li{
    display: flex;
    justify-content: center;
    align-items: center;
}
#active{
     width: 274px;
    height: 92px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto';
    font-size: xx-large;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background: #B92A55;
    color: white;
    text-align: center;
}
.no-hover1{
    position: absolute;
    width: 110px;
    height: 42px;
    pointer-events: none;
}
.no-hover2{
    position: absolute;
    width: 270px;
    height: 42px;
    pointer-events: none;
}
.no-hover3{
    position: absolute;
    width: 104px;
    height: 42px;
    pointer-events: none;
}
#active::before{
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    background: radial-gradient(circle closest-side, #E98A46, transparent);
    opacity: 60%;
    width: var(--size);
    height: var(--size);
    transform: translate(-50%, -100%);
    transition: 0.12s ease;
}
#active:hover::before{
    --size:400px;
}
/*---------------------------------------------------- v body-techno v --------------------------------------------------------*/
.body-techno{
    background-color: #262736;
    background-attachment: fixed;
}
#contenant-blocs-techno{
    margin-top: 40px;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-around;
}
#contenant-blocs-techno > article > div:not(:first-child){
    margin-top: 30px;
}
#h3-techno{
    font-family: 'roboto';
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 60px;
    border-radius: 15px;
    width: 200px;
    height: 70px;
    padding: 10px 0 30px 0;
    background: #262736;
    box-shadow:  10px 10px 16px #121219,
                 -10px -10px 16px #3a3c53;
}
/*___________________________________ v jauge v _________________________*/
#div-techno{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.skill{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px #121219,
                -6px -6px 6px #3a3c53;
}
.inner{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 6px #121219,
                inset   -4px -4px 6px #3a3c53; 
}
.number{
    color: #FFFFFF;
    font-family: 'roboto';
    font-size: 14px;
}
svg{
    position: absolute;
 }
.cercle0{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim0 2s linear forwards;
}
@keyframes anim0{
    100%{
        stroke-dashoffset: 52.5;
    }
}
.cercle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim1 1s linear forwards;
}
@keyframes anim1{
    100%{
        stroke-dashoffset: 97.5;
    }
}
.cercle2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim2 2.2s linear forwards;
}
@keyframes anim2{
    100%{
        stroke-dashoffset: 37.5;
    }
}
.cercle3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim3 2.9s linear forwards;
}
@keyframes anim3{
    100%{
        stroke-dashoffset: 7.5;
    }
}
.cercle4{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim4 0.3s linear forwards;
}
@keyframes anim4{
    100%{
        stroke-dashoffset: 142.5;
    }
}
.cercle5{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim5 0.45s linear forwards;
}
@keyframes anim5{
    100%{
        stroke-dashoffset: 127.5;
    }
}
.cercle6{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim6 1.5s linear forwards;
}
@keyframes anim6{
    100%{
        stroke-dashoffset: 75;
    }
}
.cercle7{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim7 3s linear forwards;
}
@keyframes anim7{
    100%{
        stroke-dashoffset: 0;
    }
}
.cercle8{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 3px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: anim8 0.3s linear forwards;
}
@keyframes anim8{
    100%{
        stroke-dashoffset: 135;
    }
}
/*---------------------------------------------------- v Footer v --------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: #191a24;
}

footer img{
    padding: 24px 16px;
    display: inline-block;
}